{% extends 'index.html' %}

{%  block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Деревья решений</li>
            <li class="breadcrumb-item"><a href="{% url "r_tree_app/tree_list" %}">Список деревьев</a></li>
            <li class="breadcrumb-item active" aria-current="page">Добавление дерева решений</li>
        </ol>
    </nav>
{%  endblock %}


{% block content %}
    <form method="post" enctype="multipart/form-data">
    <div class="container">
    <div class="row">
    <div class="form-group col-lg-10">
        <label for="input_name">Название дерева решений</label>
        <input type="text" class="form-control" name="input_name" id="input_name" placeholder="Введите название дерева решений" value="{{ input_name }}">
    </div>
    </div>
    <div class="row">
    <div class="form-group mb-2 col-lg-5">
        <label for="first_list">Список текстов первой группы</label>
         <select class="form-control selectpicker" data-live-search="true" id="first_list" name="first_list" style="width: 90%">
             {% for item in lists %}
                 <option value="{{ item.id }}">{{ item.name }}</option>
             {% endfor %}
         </select>
        {% if first_list is not None %}
            <script>$('#first_list').selectpicker('val', {{ first_list }})</script>
        {% endif %}
    </div>
        
    <div class="form-group mb-2 col-lg-5">
        <label for="second_list">Список текстов второй группы</label>
         <select class="form-control selectpicker" data-live-search="true" id="second_list" name="second_list" style="width: 90%">
             {% for item in lists %}
                 <option value="{{ item.id }}">{{ item.name }}</option>
             {% endfor %}
         </select>
        {% if second_list is not None %}
            <script>$('#second_list').selectpicker('val', {{ second_list }})</script>
        {% endif %}
    </div>
    </div>
        
    <div class="row">
        <div class="form-group col-lg-3">
            <label for="block_size">Размер блока</label>
            <input type="text" class="form-control" name="block_size" id="block_size" placeholder="Введите размер блока" value="{{ block_size }}">
        </div>
    </div>

    {% csrf_token %}
    <div class="row-cols-1">
        <button type="submit" class="btn btn-primary" name="submit" id="submit" value="create">Создать</button>
        <button type="reset" class="btn btn-info">Сбросить</button>
    </div>
    </div>
    </form>
{% endblock %}
