{% extends 'index.html' %}

{% load bib_item %}

{%  block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Деревья решений</li>
            <li class="breadcrumb-item"><a href="{% url "r_tree_app/tree_list" %}">Список деревьев</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ content.name }}</li>
        </ol>
    </nav>
{%  endblock %}

{%  block content %}
    <h2>Дерево решений "{{ content.name }}"</h2>
    <div class="container">
    <div class="row">
        {% if content.build_at %}
        Сборка: {{ content.build_at }} <a class="btn btn-info" href="{% url 'r_tree_app/check_text' content.id %}">Проверить текст</a>
            </div>
            <div class="row">
        <img src="{% url 'r_tree_app/list_graph' content.id %}" alt="Модель графа">
        {% else %}
        Статус: {{ content.build_status }}  (для обновления статуса страница будет перезагружена в течение 5 секунд)
            <script>
                $(document).ready(function () {
                    window.setTimeout(function() {
                        window.location.href = "{% url "r_tree_app/show_list" content.id %}";
                    }, 5000);
                });
            </script>

        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <h3>Первая группа</h3>
            <ul>
                {% for item in first_texts %}
            	    <li>{{ item.text|bib_item:"" }}
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            <h3>Вторая группа</h3>
            <ul>
                {% for item in second_texts %}
            	    <li>{{ item.text|bib_item:"" }}
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" name="action" id="action" value="recalc">Пересчитать дерево</button>
    </form>
    </div>
{% endblock %}