{% extends 'index.html' %}

{% load bib_item %}

{%  block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Деревья решений</li>
            <li class="breadcrumb-item"><a href="{% url "r_tree_app/tree_list" %}">Список деревьев</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ content.name }}</li>
        </ol>
    </nav>
{%  endblock %}

{%  block content %}
    <h2>Дерево решений "{{ content.name }}"</h2>
    <div class="container">
    {% if content.is_deleted %}
        <div class="alert alert-danger" role="alert">Внимание! Дерево удалено!!</div>
    {% endif %}
        <div class="row">
        <div class="col card">
            <div class="card-body">
                <div>Размер блока: {{ content.block_size }}</div>
                <div>Глубина дерева решений: {{ content.max_depth }}</div>
                <div>Использование разделителей: {% if content.sector_size > 0 %}cектор={{ content.sector_size }}%,
                    {% if content.many_sectors %}n=1, 2, ...{% else %}n=1{% endif %}{% else %}Не используются{% endif %}</div>
                <div>Исключенные части речи: {% if content.count_removed_pos == 0 %}нет{% else %}
                    {{ content.text_removed_pos|join:", " }}
                {% endif %}</div>
            {% if content.build_at or content.is_deleted %}
                <div>Сборка: {{ content.build_at }}</div>
                <div>Оценка точности: {{ content.accuracy|floatformat:3 }}</div>
                <div>Размер вектора: {{ content.vector_size }}</div>
                <div>Число разделов первой группы: {{ content.table1_size }}</div>
                <div>Число разделов второй группы: {{ content.table2_size }}</div>
                <div>Используемое число разделов: {% if content.table2_size > content.table1_size %}{{ content.table1_size }}{% else %}{{ content.table2_size }}{% endif %}</div>
            {% else %}
                <div>Статус: {{ content.build_status }} (для обновления статуса страница будет перезагружена в течение 5 секунд)</div>
                <script>
                    $(document).ready(function () {
                        window.setTimeout(function() {
                            window.location.href = "{% url "r_tree_app/show_list" content.id %}";
                        }, 5000);
                        });
                </script>
            {% endif %}
            {% if user.is_authenticated and user.is_researcher %}
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        {% if content.is_deleted %}
                            <button type="submit" class="btn btn-danger mb-2" name="action" id="action-delete" value="restore">Восстановить</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary mb-2" name="action" id="action" value="recalc">Пересчитать дерево</button>
                            {% if content.public %}
                                <button type="submit" class="btn btn-danger mb-2" name="action" id="action-pub" value="unpublish">Снять с публикации</button>
                            {% else %}
                                <button type="submit" class="btn btn-success mb-2" name="action" id="action-pub" value="publish">Опубликовать</button>
                            {% endif %}
                            <script>function clicked(e) { if(!confirm('Вы действительно хотите удалить дерево?')) { e.preventDefault(); } }</script>
                            <button type="submit" class="btn btn-danger mb-2" onclick="clicked(event)" name="action" id="action-delete" value="delete">Удалить</button>
                        {% endif %}
                    </div>
                </div>
            </form>
            {% endif %}
            </div>
        </div>
        <div class="col card">
            <div class="card-body">
                {% if not content.is_deleted %}
                <a class="btn btn-info" href="{% url 'r_tree_app/check_text' content.id %}">Проверить текст</a>
                {% endif %}
            </div>
        </div>
        </div>
        {% if content.build_at and not content.is_deleted %}
            <div class="row">
                <img width="100%" src="{% url 'r_tree_app/list_graph' content.id %}" alt="Модель графа">
            </div>
        {% endif %}

        {% if not content.is_deleted %}
        <div class="row">
            <div class="col">
                <h3>Первая группа</h3>
                <ul>
                    {% for item in first_texts %}
            	        <li>{% bib_item item.text %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <h3>Вторая группа</h3>
                <ul>
                    {% for item in second_texts %}
            	        <li>{% bib_item item.text %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}