{% extends 'index.html' %}

{% load bib_item %}

{%  block content %}
    <h2>Дерево решений "{{ content.name }}"</h2>
    <div class="container">
    <div class="row">
        {% if content.build_at %}
        Сборка: {{ content.build_at }} <a class="btn btn-info" href="{% url 'r_tree_app/check_text' content.id %}">Проверить текст</a>
            </div>
            <div class="row">
        <img src="{% url 'r_tree_app/list_graph' content.id %}" alt="Модель графа">
        {% else %}
        Статус: {{ content.build_status }}
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <h3>Первая группа</h3>
            <ul>
                {% for item in first_texts %}
            	    <li>{{ item.text|bib_item:"" }}
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            <h3>Вторая группа</h3>
            <ul>
                {% for item in second_texts %}
            	    <li>{{ item.text|bib_item:"" }}
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" name="action" id="action" value="recalc">Пересчитать дерево</button>
    </form>
    </div>
{% endblock %}