{% extends 'index.html' %}

{% block content %}
    <a href="{% url 'r_tree_app/add_list' %}">Добавить дерево</a>
    
    <table class='table table-bordered border-primary'>
    <thead><tr><th>№</th><th>Название</th><th>Первый список</th><th>Второй список</th><th>Размер блока</th></tr></thead>
    <tbody>
    {% for item in items %}
        <tr><td>{{ item.id }}</td><td>{{ item.name }}</td><td>{{ item.first_list.name }}</td><td>{{ item.second_list.name }}</td><td>{{ item.block_size }}</td></tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
