{% extends 'index.html' %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Деревья решений</li>
            <li class="breadcrumb-item active" aria-current="page">Список деревьев</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <a href="{% url 'r_tree_app/add_list' %}">Добавить дерево</a>

    <table class='table table-bordered border-primary'>
    <thead><tr><th>№</th><th>Название</th><th>Первый список</th><th>Второй список</th><th>Размер блока</th></tr></thead>
    <tbody>
    {% for item in items %}
        <tr><td>{{ item.id }}</td><td><a href="{% url 'r_tree_app/show_list' item.id %}">{{ item.name }}</a></td><td>{{ item.first_list.name }}</td><td>{{ item.second_list.name }}</td><td>{{ item.block_size }}</td></tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
