{% extends "index.html" %}

{% block content %}
<h2>Справочная информация</h2>

<h3 id="text-generator">Генератор текстов</h3>
<p>Модуль генерации текстов позволяет создать новый текст на базе существующего.
    Алгоритм работы генератора: последовательно выбираются фрагменты из каждого текста, далее происходит замещение в размерах доли вставки.
    Модуль имеет переключатель режима работы генерации "По параметрам - По коду".
</p>

<h4>Генерация по параметрам</h4>
<p>Выбираются заранее созданные и опубликованные списки текстов. Если включена опция "Случайные тексты",
    то тексты из списков выбираются случайно. При отключении опции появляются поля для выбора конкретных текстов из списков.
</p>
<p>Доля вставки принимает значения от 0.01 до 0.95 и регулирует процентное соотношение объема замещенного текста к объему исходного текста. Размер фрагмента указывается в словах.
</p>
<p>Опция "Делать привязку к границам предложений" позволяет скорректировать границы фрагмента в соответствии с
    ближайшими границами предложений (по умолчанию на расстоянии не более 10 слов). После включения данной опции доля
    фактической вставки может существенно отличаться от ожидаемой.
</p>

<h4>Генерация по коду</h4>
<p>Генерация по коду позволяет создать текст исключительно на основе кода. В результате работы генерации выводятся
    ссылки на оригиналы текстов и получившийся текст.
</p>

<h4>Экспорт</h4>
<p>Итоговый текст возможно скачать с помощью кнопки "Экспорт текста" (формат txt), а также сохранить его разбор - "Экспорт разбора" (формат csv).</p>
{% endblock %}