Django~=5.0
mysqlclient~=2.2
scikit-learn~=1.5.0  # построение дерева решений
matplotlib  # отрисовка дерева решений
graphviz~=0.20.3
aiomqtt~=2.0.1  # общение с воркерами через mqtt протокол

asgiref~=3.8.1
django-picklefield~=3.2  # для хранения дерева решения в БД
nltk~=3.9.1
stanza~=1.10.1
prereform2modern~=1.0.0
transformers~=4.51.3