Django~=5.0
mysqlclient~=2.2
scikit-learn~=1.5.0  # построение дерева решений
matplotlib  # отрисовка дерева решений
graphviz~=0.20.3
aiomqtt~=2.0.1  # общение с воркерами через mqtt протокол
nltk~=3.8.1 # для обработки текста

asgiref~=3.8.1
django-picklefield~=3.2  # для хранения дерева решения в БД