{% extends 'index.html' %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Лексический спектр N-грамм</li>
            <li class="breadcrumb-item"><a href="{% url "r_ngrams_app/dataset_list" %}">Список датасетов</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url "r_ngrams_app/dataset_show" content.id %}">{{ content.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Редактирование датасета</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
    <div class="container">
    <div class="row">
    <div class="form-group col-lg-10">
        <label for="input_name">Название датасета</label>
        <input type="text" class="form-control" name="input_name" id="input_name" placeholder="Введите название датасета N-грамм" value="{{ input_name }}">
    </div>
    </div>
    <div class="row">
    <div class="form-group mb-2 col-lg-6">
        <label for="text_group">Список текстов</label>
         <select class="form-control selectpicker" data-live-search="true" id="text_group" name="text_group" style="width: 90%">
            <option value="0">Все тексты</option>
             {% for item in lists %}
                 <option value="{{ item.id }}">{{ item.name }}</option>
             {% endfor %}
         </select>

        {% if text_group is not None %}
            <script>$('#text_group').selectpicker('val', {{ text_group }})</script>
        {% endif %}
    </div>
        <div class="form-group col-lg-2">
            <label for="ngram_size">Размер N-граммы</label>
            <input type="text" class="form-control" name="ngram_size" id="ngram_size" placeholder="Введите число" value="{{ ngram_size }}">
        </div>
        <div class="form-group col-lg-4">
            <label for="max_ngrams">Максимальное число N-грамм в датасете</label>
            <input type="text" class="form-control" name="max_ngrams" id="max_ngrams" placeholder="Введите число" value="{{ max_ngrams }}">
        </div>
    </div>
        
    <div class="row">
        <div class="form-group col-lg-3">
            <label for="min_occurrence">Минимальное количество встречаемости N-граммы</label>
            <input type="text" class="form-control" name="min_occurrence" id="min_occurrence" placeholder="Введите число" value="{{ min_occurrence }}">
        </div>
        <div class="col">
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" name="is_use_initial" id="is_use_initial" {% if is_use_initial %}checked{% endif %}>
                <label class="form-check-label" for="is_use_initial">Расчет N-грамм по словоформам (нет) или по начальным значениям (да)</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" name="is_sentence_split" id="is_sentence_split" {% if is_sentence_split %}checked{% endif %}>
                <label class="form-check-label" for="is_sentence_split">Расчет N-грамм по предложениям (да) или по абзацам (нет)</label>
            </div>
        </div>
    </div>
        
    {% csrf_token %}
    <div class="row-cols-1">
        <button type="submit" class="btn btn-primary" name="submit" id="submit" value="create">Сохранить</button>
        <button type="reset" class="btn btn-info">Сбросить</button>
    </div>
    </div>
    </form>
{% endblock %}
