{% extends "index.html" %}

{% block content %}
<div class="d-flex align-items-center justify-content-lg-around bd-highlight">
<div class="p-2" style="width:30%">
<h3>Регистрация</h3>
  <form action="{{ request.fullpath }}?next={{ next }}"  method="post">
    <div class="form-group">
    <input class="form-control mr-sm-2" type="text" placeholder="Имя пользователя" aria-label="name" name="name" value="">
    </div>
    <div class="form-group">
    <input class="form-control mr-sm-2" type="email" placeholder="Адрес email" aria-label="email" name="login" value="">
    </div>
    <div class="form-group">
    <input class="form-control mr-sm-2" type="password" placeholder="Пароль" aria-label="password" name="password" value="">
    </div>
    <div class="form-group">
    <input class="form-control mr-sm-2" type="password" placeholder="Повтор пароля" aria-label="password2" name="password2" value="">
    </div>
    {% csrf_token %}
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="action" value="register">Регистрация</button>
  </form>
</div>

<div class="p-2" style="width:30%">
<h3>Авторизация</h3>
<br>
  <form action="{{ request.fullpath }}?next={{ next }}" method="post">
    <div class="form-group">
        {{ form_login_user.login }}
        {% if form_login_errors %}
            {% for error in form_login_user.login.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_login_user.password }}
        {% if form_login_errors %}
            {% for error in form_login_user.password.errors %}
                <div class="alert alert-danger">{{error}}</div>
            {% endfor %}
        {% endif %}
    </div>
    {% csrf_token %}
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="action" value="login">Авторизация</button>
  </form>
  <br>
</div>
</div>
{% endblock content %}
