[Unit]
Description=SMALT tree generator
After=network.target remote-fs.target nss-lookup.target mysql.service
StartLimitIntervalSec=1d
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/var/www/pysmalt/service/smalt-tree-app.sh
Restart=on-failure
RestartSec=5s
User=kulakov

[Install]
WantedBy=multi-user.target
