<tr class='paper'
    data-title='{{ text_data.title }}'
    data-year='{{ text_data.publication_date.year }}'
    data-mag='{{ text_data.magazine.title }}'
    data-num='{{ text_data.magazine_no }}'
    data-author1='{{ text_data.author.name }}'
    data-author2='{{ text_data.author2.name }}'
    data-author3='{{ text_data.author3.name }}'>
    <td class='text-center'>{{ text_data.id }}</td>
    <td class='text-center'><input type='checkbox' id='{{ text_data.id }}' name='item' value="{{ text_data.id }}" {% if checked %}checked{% endif %}></td>
    <td>{{ text_data.title }}</td>
    <td>
        {% if text_data.author %}{{ text_data.author.name }}{% endif %}
        {% if text_data.author2 %},{{ text_data.author2.name }}{% endif %}
        {% if text_data.author3 %},{{ text_data.author3.name }}{% endif %}
    </td>
    <td class='text-center'>{{ text_data.magazine.title }}</td>
    <td class='text-center'>{% if text_data.publication_date %}{{ text_data.publication_date.year }}{% endif %}</td>
    <td class="text-center">{{ text_data.magazine_no|default_if_none:"" }}</td>
    <td>{{ text_data.comment|default_if_none:"" }}</td>
</tr>