{% extends 'index.html' %}

{% block content %}
    <h2>Добавление нового датасета биграмм</h2>
    <form method="post" enctype="multipart/form-data">
    <div class="container">
    <div class="row">
    <div class="form-group col-lg-10">
        <label for="input_name">Название датасета биграмм</label>
        <input type="text" class="form-control" name="input_name" id="input_name" placeholder="Введите название датасета биграмм" value="{{ input_name }}">
    </div>
    </div>
    <div class="row">
    <div class="form-group mb-2 col-lg-5">
        <label for="text_group">Список текстов</label>
         <select class="form-control selectpicker" data-live-search="true" id="text_group" name="text_group" style="width: 90%">
            <option value="0" {% if text_group == 0 %}selected{% endif %}>Все тексты</option>
             {% for item in lists %}
                 <option value="{{ item.id }}" {% if text_group == item.id %}selected{% endif %}>{{ item.name }}</option>
             {% endfor %}
         </select>
    </div>
        <div class="form-group col-lg-3">
            <label for="max_bigrams">Максимальное число биграмм в датасете</label>
            <input type="text" class="form-control" name="max_bigrams" id="max_bigrams" placeholder="Введите число" value="{{ max_bigrams }}">
        </div>
        <div class="form-group col-lg-3">
            <label for="min_occurrence">Минимальное количество встречаемости биграммы</label>
            <input type="text" class="form-control" name="min_occurrence" id="min_occurrence" placeholder="Введите число" value="{{ min_occurrence }}">
        </div>
    </div>
        
    <div class="row">
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="is_use_initial" id="is_use_initial" {% if is_use_initial %}checked{% endif %}>
            <label class="form-check-label" for="is_use_initial">Расчет биграмм по словоформам (нет) или по начальным значениям (да)</label>
        </div>
    </div>
        
    <div class="row">
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="is_sentence_split" id="is_sentence_split" {% if is_sentence_split %}checked{% endif %}>
            <label class="form-check-label" for="is_sentence_split">Расчет биграмм по предложениям (да) или по абзацам (нет)</label>
        </div>
    </div>

    {% csrf_token %}
    <div class="row-cols-1">
        <button type="submit" class="btn btn-primary" name="submit" id="submit" value="create">Создать</button>
        <button type="reset" class="btn btn-info">Сбросить</button>
    </div>
    </div>
    </form>
{% endblock %}
