<li class="nav-item"><a class="nav-link" href="{% url 'text_app/papers_list' %}">Статьи</a></li>
<li class="nav-item"><a class="nav-link" href="$path/attrs.php">Дерево атрибутов</a></li>
<li class="nav-item  dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"  role="button" aria-haspopup="true" aria-expanded="false">Исследования</a>
     <div class="dropdown-menu">
      <a class="dropdown-item" href="$path/research/sidorov.php">Сильный граф</a>
      <a class="dropdown-item" href="$path/research/graphviz.php">Сильный граф (визуализация)</a>
      <a class="dropdown-item" href="$path/research/hetco.php">Метрики Хетсо</a>
      <a class="dropdown-item" href="$path/research/fragments.php">Фрагмент текста</a>
      <a class="dropdown-item" href="$path/research/fragment-colormap.php">Раскраска текста</a>
      <a class="dropdown-item" href="$path/research/graph-compare.php">Сравнение графов</a>
      <a class="dropdown-item" href="$path/research/text-generator.php">Генератор текстов</a>
    </div>
</li>