<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'text_app/papers_list' %}">Статьи</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'text_app/attrs_list' %}">Дерево атрибутов</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Исследования
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'r_tree_app/tree_list' %}">Деревья решений</a>
                <a class="dropdown-item" href="{% url 'r_ngrams_app/dataset_list' %}">N-граммы</a>
                <a class="dropdown-item" href="{% url 'text_generator_form' %}">Генератор текстов</a>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'text_app/text_lists' %}">Списки текстов</a> </li>
        <li class="nav-item"><a class="nav-link" href="help.html">Справка</a></li>
    </ul>

    {% if user.is_authenticated %}
        <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'user_app/profile' %}">{{ user.name }}</a> &nbsp;(<a href="{% url 'user_app/logout' %}?next={{request.path}}">Выход</a>)
    {% else %}
        {% if request.path != '/user_app/login' %}
            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'user_app/login' %}?next={{request.path}}">Вход / Регистрация</a>
        {% endif %}
    {% endif %}
</div>
