{% extends "index.html" %}
{% load bib_item %}

{% block content %}
<h2>Список текстов "{{ content.name }}"</h2>
<ul>
<li>Владелец: {{ content.owner.name }}</li>
<li>Доступность: {% if content.public %}Публичный список{% else %}Персональный список{% endif %}</li>
</ul>
<div class="d-inline-flex bd-highlight">
<div class="p-1">
<a class="btn btn-primary" href="{% url 'text_app/text_lists' %}">Назад к списку</a>
</div>
{% if user.is_authenticated %}
    {% if user.has_admin or user.id == content.owner.id %}
    <div class="p-1" style="width: 100%"><form class="form-inline" method="post">
            <div class="form-group mb-2">
                    <select class="form-control selectpicker" data-live-search="true" name="selectionTextId" style="width: 90%">
                        {% for item in texts %}
                            <option value="{{ item.id }}">{% bib_item item link %}</option>
                        {% endfor %}
                    </select>
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" name="action" value="insertText">Добавить текст</button>
        </form>
    </div>
    <div class="p-1">
        <a class="btn btn-secondary" href="{% url 'text_app/text_list_edit' content.id %}">Редактировать список</a>
        <a class="btn btn-danger" href="{% url 'text_app/text_list_delete' content.id %}">Удаление списка</a>
    </div>
    {% endif %}
{%  endif %}
</div>
<hr>
    <ol>
{% for text_item in content.items %}
    <li><div class="d-inline-flex align-items-baseline">
    <div>{% bib_item text_item.text link %}</div>
    {% if user.is_authenticated %}
        {% if user.has_admin or user.id == content.owner.id %}
            <div class='p-1'><form method='post'>{% csrf_token %}<input type='hidden' name='textId' value='{{ text_item.text.id }}'><button type='submit' class='btn btn-danger' name='action' value='removeText'>Удалить</button></form></div>
        {% endif %}
    {% endif %}
    </div>
    </li>
{% endfor %}
    </ol>
{% endblock content %}
